{% extends "rps/base.html" %}

{% block content %}

<div class="row mt-5 mx-5 text-center ">
    <!-- <a class="mb-5" href="{% url "department" %}" style="max-width: 25rem; text-decoration: none;">
        <div class="card text-white bg-primary py-4 bg-opacity-75" style="max-width: 25rem;">
            <div class="card-header">
                <h4>Departments: {{total_number_of_dept}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Click here to view all department</p>
            </div>
        </div>
    </a> -->
    <a class="mb-5" href="{% url "institute_teacher" %}" style="max-width: 25rem; text-decoration: none;">
        <div class="card text-white bg-secondary py-4" style="max-width: 25rem;">
            <div class="card-header">
                <h4>Total Teachers: {{total_number_of_teachers}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">CLick here to view teachers list in IICT</p>
            </div>
        </div>
    </a>
    <a class="mb-5" href="{% url "institute_student" %}" style="max-width: 25rem; text-decoration: none;">
        <div class="card text-white bg-primary py-4 bg-opacity-75" style="max-width: 25rem;">
            <div class="card-header">
                <h4>Total Students: {{total_number_of_students}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">CLick this card to view all the students in PGD</p>
            </div>
        </div>
    </a>
    <a class="mb-5" href="{% url "institute_staff" %}" style="max-width: 25rem; text-decoration: none;">
        <div class="card text-white bg-secondary py-4 border-radius: 20%" style="max-width: 25rem;">
            <div class="card-header">
                <h4>Total Staff: {{total_number_of_staffs}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">CLick here to view staff list in IICT</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}